.form {
  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__input {
    display: block;
    width: 90%;
    padding: 1.5rem 2rem;
    font-family: inherit;
    font-size: 1.5rem;
    color: inherit;
    background-color: rgba($color-white, 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    border-radius: $border-radius-tiny;
    transition: all 0.3s;

    &:focus {
      border-color: $color-primary;
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
    }

    &:focus:invalid {
      border-color: $color-secondary-dark;
    }

    &::placeholder {
      color: $color-grey-dark-2;
    }
  }

  &__label {
    display: block;
    margin-top: 0.7rem;
    margin-left: 2rem;
    font-size: 1.2rem;
    font-weight: 700;
    transition: all 0.3s;
  }

  &__input:placeholder-shown + &__label {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-4rem);
  }

  // Radio buttons
  &__radio-group {
    display: inline-block;
    width: 49%;
  }

  &__radio-input {
    position: absolute;
    opacity: 0;
  }

  &__radio-label {
    position: relative;
    padding-left: 5rem;
    font-size: $default-font-size;
    cursor: pointer;
    transition: all 0.3s;
  }

  &__radio-button {
    position: absolute;
    top: -4px;
    left: 0;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    border: 5px solid $color-primary;
    border-radius: 50%;

    &::after {
      position: absolute;
      display: block;
      width: 1.3rem;
      height: 1.3rem;
      content: '';
      background-color: $color-primary;
      border-radius: 50%;
      opacity: 0;
      transition: opacity 0.2s;

      @include absolute-ctr('both');
    }
  }

  &__radio-input:checked ~ &__radio-label &__radio-button::after {
    opacity: 1;
  }

  &__radio-input:focus ~ &__radio-label {
    color: $color-primary;
  }
}
