/*
0 - 600px:            Phone
600 - 900px:          Tablet portrait
900 - 1200px:         Tablet landspace
1200 - 1800px:        Is where our normal styles apply
1800px+ :             Big desktop

------------------------------------------------------

$breakpoint argument choices
- phone               600/16  = 37.5em
- tab-port            900/16  = 56.25em
- tab-land            1200/16 = 75em
- big-desktop         1800/16 = 112.5em

Order:
- Base + typography
- General layout + grid
- Page layout
- Components
*/
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 3rem;
}

img {
  display: block;
}

::-moz-selection {
  color: #fff;
  background-color: #55c57a;
}

::selection {
  color: #fff;
  background-color: #55c57a;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
}

.title-h1 {
  margin-bottom: 6rem;
  color: #fff;
  text-transform: uppercase;
  /* Fix for shaky elements */
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.title-h1--main, .title-h1--sub {
  display: block;
}
.title-h1--main {
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  /* Animation properties */
  -webkit-animation: moveInLeft 1s ease-out;
          animation: moveInLeft 1s ease-out;
  /*
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out; */
  /*
  animation-delay: 3s;
  animation-iteration-count: 3;
  animation-play-state: paused;
  animation-fill-mode: backwards */
}
.title-h1--sub {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.75rem;
  -webkit-animation: moveInRight 1s ease-out;
          animation: moveInRight 1s ease-out;
}

.title-h2 {
  display: inline-block;
  font-size: 3.5rem;
  font-weight: 700;
  color: transparent;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: -webkit-gradient(linear, left top, right top, from(#7ed56f), to(#28b485));
  background-image: -webkit-linear-gradient(left, #7ed56f, #28b485);
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.title-h2:hover {
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
  -webkit-transform: skewY(2deg) skewX(15deg) scale(1.1);
      -ms-transform: skewY(2deg) skewX(15deg) scale(1.1);
          transform: skewY(2deg) skewX(15deg) scale(1.1);
}

.title-h3 {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

/*
2 ways to animate something
- transition property
- keyframes */
@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes moveFromBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes moveFromBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

.btn {
  cursor: pointer;
  border: none;
}
.btn, .btn:link, .btn:visited {
  position: relative;
  display: inline-block;
  padding: 1.5rem 4rem;
  font-size: 1.6rem;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 10rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.btn::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: inline-block;
  width: 100%;
  height: 100%;
  content: "";
  border-radius: 10rem;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.btn:hover {
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
          transform: translateY(-3px);
}
.btn:hover::after {
  opacity: 0;
  -webkit-transform: scaleX(1.4) scaleY(1.6);
      -ms-transform: scaleX(1.4) scaleY(1.6);
          transform: scaleX(1.4) scaleY(1.6);
}
.btn:active, .btn:focus {
  outline: none;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-1px);
      -ms-transform: translateY(-1px);
          transform: translateY(-1px);
}
.btn--white {
  color: #777;
  background-color: #fff;
}
.btn--white::after {
  background-color: #fff;
}
.btn--green {
  color: #fff;
  background-color: #55c57a;
}
.btn--green::after {
  background-color: #55c57a;
}
.btn--animated {
  /*
  animation: name time timing-function delay fill-mode */
  -webkit-animation: moveFromBottom 0.5s ease-out 0.75s backwards;
          animation: moveFromBottom 0.5s ease-out 0.75s backwards;
}

.btn-text:link, .btn-text:visited {
  display: inline-block;
  padding: 3px;
  font-size: 1.6rem;
  color: #55c57a;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-text:hover {
  color: #fff;
  background-color: #55c57a;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
}
.btn-text:active, .btn-text:focus {
  outline: none;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.composition {
  position: relative;
}
.composition__photo {
  position: absolute;
  z-index: 10;
  width: 55%;
  height: auto;
  border-radius: 2px;
  outline-offset: 2rem;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.composition__photo--p1 {
  top: -2rem;
  left: 0;
}
.composition__photo--p2 {
  top: 2rem;
  right: 0;
}
.composition__photo--p3 {
  top: 10rem;
  left: 20%;
}
.composition__photo:hover {
  z-index: 20;
  outline: 1.5rem solid #55c57a;
  -webkit-box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.05) translateY(-0.5rem);
      -ms-transform: scale(1.05) translateY(-0.5rem);
          transform: scale(1.05) translateY(-0.5rem);
}
.composition:hover .composition__photo:not(:hover) {
  z-index: 10;
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}

.feature-box {
  padding: 2.5rem;
  font-size: 1.5rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.feature-box__icon {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-size: 6rem;
  color: transparent;
  background-image: -webkit-gradient(linear, left top, right top, from(#7ed56f), to(#28b485));
  background-image: -webkit-linear-gradient(left, #7ed56f, #28b485);
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
          background-clip: text;
}
.feature-box:hover {
  -webkit-box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-1.5rem) scale(1.03);
      -ms-transform: translateY(-1.5rem) scale(1.03);
          transform: translateY(-1.5rem) scale(1.03);
}

.card {
  -webkit-perspective: 150rem;
          perspective: 150rem;
  position: relative;
  height: 52rem;
}
.card__side {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 52rem;
  overflow: hidden;
  border-radius: 3px;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.card__side--front {
  background-color: #fff;
}
.card__side--back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.card__side--back-1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ffb900), to(#ff6630));
  background-image: -webkit-linear-gradient(left top, #ffb900, #ff6630);
  background-image: linear-gradient(to right bottom, #ffb900, #ff6630);
}
.card__side--back-2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#7ed56f), to(#28b485));
  background-image: -webkit-linear-gradient(left top, #7ed56f, #28b485);
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}
.card__side--back-3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#2998ff), to(#5643fa));
  background-image: -webkit-linear-gradient(left top, #2998ff, #5643fa);
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}
.card:hover .card__side--front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}
.card:hover .card__side--back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}
.card:focus-within .card__side--front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}
.card:focus-within .card__side--back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}
.card__picture {
  height: 23rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  background-size: cover;
  background-blend-mode: screen;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.card__picture--1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ffb900), to(#ff6630)), image-set(url("../img/avif/nat-5.avif") type("image/avif"), url("../img/webp/nat-5.webp") type("image/webp"), url("../img/jpg/nat-5.jpg"));
  background-image: -webkit-linear-gradient(left top, #ffb900, #ff6630), -webkit-image-set(url("../img/avif/nat-5.avif") type("image/avif"), url("../img/webp/nat-5.webp") type("image/webp"), url("../img/jpg/nat-5.jpg"));
  background-image: linear-gradient(to right bottom, #ffb900, #ff6630), image-set(url("../img/avif/nat-5.avif") type("image/avif"), url("../img/webp/nat-5.webp") type("image/webp"), url("../img/jpg/nat-5.jpg"));
}
.card__picture--2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#7ed56f), to(#28b485)), image-set(url("../img/avif/nat-6.avif") type("image/avif"), url("../img/webp/nat-6.webp") type("image/webp"), url("../img/jpg/nat-6.jpg"));
  background-image: -webkit-linear-gradient(left top, #7ed56f, #28b485), -webkit-image-set(url("../img/avif/nat-6.avif") type("image/avif"), url("../img/webp/nat-6.webp") type("image/webp"), url("../img/jpg/nat-6.jpg"));
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485), image-set(url("../img/avif/nat-6.avif") type("image/avif"), url("../img/webp/nat-6.webp") type("image/webp"), url("../img/jpg/nat-6.jpg"));
}
.card__picture--3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#2998ff), to(#5643fa)), image-set(url("../img/avif/nat-7.avif") type("image/avif"), url("../img/webp/nat-7.webp") type("image/webp"), url("../img/jpg/nat-7.jpg"));
  background-image: -webkit-linear-gradient(left top, #2998ff, #5643fa), -webkit-image-set(url("../img/avif/nat-7.avif") type("image/avif"), url("../img/webp/nat-7.webp") type("image/webp"), url("../img/jpg/nat-7.jpg"));
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa), image-set(url("../img/avif/nat-7.avif") type("image/avif"), url("../img/webp/nat-7.webp") type("image/webp"), url("../img/jpg/nat-7.jpg"));
}
.card__heading {
  position: absolute;
  top: 12rem;
  right: 2rem;
  width: 75%;
  font-size: 2.8rem;
  font-weight: 300;
  color: #fff;
  text-align: right;
  text-transform: uppercase;
}
.card__heading-span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
          box-decoration-break: clone;
}
.card__heading-span--1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 185, 0, 0.85)), to(rgba(255, 102, 48, 0.85)));
  background-image: -webkit-linear-gradient(left top, rgba(255, 185, 0, 0.85), rgba(255, 102, 48, 0.85));
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 102, 48, 0.85));
}
.card__heading-span--2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.85)), to(rgba(40, 180, 133, 0.85)));
  background-image: -webkit-linear-gradient(left top, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85));
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85));
}
.card__heading-span--3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(41, 152, 255, 0.85)), to(rgba(86, 67, 250, 0.85)));
  background-image: -webkit-linear-gradient(left top, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85));
  background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85));
}
.card__details {
  padding: 3rem;
}
.card__details ul {
  width: 80%;
  margin: 0 auto;
  list-style: none;
}
.card__details ul li {
  padding: 1rem;
  font-size: 1.5rem;
  text-align: center;
}
.card__details ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}
.card__price-box {
  margin-bottom: 8rem;
  color: #fff;
}
.card__price-only {
  font-size: 1.4rem;
  text-transform: uppercase;
}
.card__price-value {
  font-size: 6rem;
  font-weight: 100;
}

.story {
  width: 75%;
  padding: 6rem 6rem 6rem 9rem;
  margin: 0 auto;
  font-size: 1.6rem;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  -webkit-transform: skewX(-12deg);
      -ms-transform: skewX(-12deg);
          transform: skewX(-12deg);
  /*
  & > * {
    transform: skewX(12deg);
  } */
}
.story__shape {
  position: relative;
  float: left;
  width: 15rem;
  height: 15rem;
  overflow: hidden;
  border-radius: 50%;
  -webkit-transform: translateX(-3rem) skewX(12deg);
      -ms-transform: translateX(-3rem) skewX(12deg);
          transform: translateX(-3rem) skewX(12deg);
}
@supports ((-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0))) {
  .story__shape {
    -webkit-clip-path: circle(50% at 50% 50%);
            clip-path: circle(50% at 50% 50%);
    -webkit-shape-outside: circle(50% at 50% 50%);
            shape-outside: circle(50% at 50% 50%);
    border-radius: none;
  }
}
.story__img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translate(-50%, -50%) scale(1.4);
      -ms-transform: translate(-50%, -50%) scale(1.4);
          transform: translate(-50%, -50%) scale(1.4);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.story__text {
  -webkit-transform: skewX(12deg);
      -ms-transform: skewX(12deg);
          transform: skewX(12deg);
}
.story__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.7rem;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translate(-50%, 20%);
      -ms-transform: translate(-50%, 20%);
          transform: translate(-50%, 20%);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.story:hover .story__caption {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.story:hover .story__img {
  -webkit-filter: blur(3px) brightness(80%);
          filter: blur(3px) brightness(80%);
  -webkit-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0.15;
}
.bg-video__content {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.form__group:not(:last-child) {
  margin-bottom: 2rem;
}
.form__input {
  display: block;
  width: 90%;
  padding: 1.5rem 2rem;
  font-family: inherit;
  font-size: 1.5rem;
  color: inherit;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  border-radius: 2px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.form__input:focus {
  border-color: #55c57a;
  outline: none;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}
.form__input:focus:invalid {
  border-color: #ff6630;
}
.form__input::-webkit-input-placeholder {
  color: #999;
}
.form__input::-moz-placeholder {
  color: #999;
}
.form__input:-ms-input-placeholder {
  color: #999;
}
.form__input::-ms-input-placeholder {
  color: #999;
}
.form__input::placeholder {
  color: #999;
}
.form__label {
  display: block;
  margin-top: 0.7rem;
  margin-left: 2rem;
  font-size: 1.2rem;
  font-weight: 700;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.form__input:-moz-placeholder-shown + .form__label {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-4rem);
}
.form__input:-ms-input-placeholder + .form__label {
  visibility: hidden;
  opacity: 0;
  -ms-transform: translateY(-4rem);
      transform: translateY(-4rem);
}
.form__input:placeholder-shown + .form__label {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(-4rem);
      -ms-transform: translateY(-4rem);
          transform: translateY(-4rem);
}
.form__radio-group {
  display: inline-block;
  width: 49%;
}
.form__radio-input {
  position: absolute;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  opacity: 0;
}
.form__radio-label {
  position: relative;
  padding-left: 5rem;
  font-size: 1.6rem;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.form__radio-button {
  position: absolute;
  top: -4px;
  left: 0;
  display: inline-block;
  width: 3rem;
  height: 3rem;
  border: 5px solid #55c57a;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.form__radio-button::after {
  position: absolute;
  display: block;
  width: 1.3rem;
  height: 1.3rem;
  content: "";
  background-color: #55c57a;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1;
}
.form__radio-input:focus ~ .form__radio-label .form__radio-button {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@supports ((-webkit-backdrop-filter: blur(3px)) or (backdrop-filter: blur(3px))) {
  .popup {
    -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.3);
  }
}
.popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: table;
  width: 75%;
  overflow: hidden;
  background-color: #fff;
  border: none;
  border-radius: 3px;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  opacity: 0;
  -webkit-transition: all 0.4s 0.2s;
  transition: all 0.4s 0.2s;
  -webkit-transform: translate(-50%, -50%) scale(0.3);
      -ms-transform: translate(-50%, -50%) scale(0.3);
          transform: translate(-50%, -50%) scale(0.3);
}
.popup__left {
  display: table-cell;
  width: 33.3333%;
}
.popup__right {
  display: table-cell;
  width: 66.6666%;
  padding: 3rem 5rem;
  vertical-align: middle;
}
.popup__img {
  display: block;
  width: 100%;
  height: auto;
}
.popup__img:first-child {
  -webkit-transform: scaleY(1.07);
      -ms-transform: scaleY(1.07);
          transform: scaleY(1.07);
}
.popup__text {
  -webkit-column-gap: 4rem;
     -moz-column-gap: 4rem;
          column-gap: 4rem;
  margin-bottom: 4rem;
  font-size: 1.4rem;
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  -webkit-column-rule: 1px solid #eee;
     -moz-column-rule: 1px solid #eee;
          column-rule: 1px solid #eee;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}
.popup:target {
  pointer-events: all;
  visibility: visible;
  opacity: 1;
}
.popup:target .popup__content {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}
.popup__close:link, .popup__close:visited {
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  display: inline-block;
  font-size: 3rem;
  line-height: 1;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.popup__close:hover, .popup__close:active, .popup__close:focus {
  color: #55c57a;
}
.popup__close:focus {
  outline: none;
}

.navigation__checkbox {
  position: fixed;
  top: 6rem;
  right: 6rem;
  width: 7rem;
  height: 7rem;
  opacity: 0;
}
.navigation__button {
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 2000;
  width: 7rem;
  height: 7rem;
  text-align: center;
  cursor: pointer;
  background-color: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
}
.navigation__background {
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  z-index: 1000;
  width: 6rem;
  height: 6rem;
  background-image: -webkit-radial-gradient(#7ed56f, #28b485);
  background-image: radial-gradient(#7ed56f, #28b485);
  border-radius: 50%;
  -webkit-transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}
.navigation__nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  width: 0;
  height: 100vh;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  list-style: none;
}
.navigation__item {
  margin: 1rem;
}
.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: -webkit-linear-gradient(330deg, transparent 0%, transparent 50%, #fff 50%);
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 240%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.navigation__link:link span, .navigation__link:visited span {
  display: inline-block;
  margin-right: 0.5rem;
}
.navigation__link:hover, .navigation__link:active, .navigation__link:focus {
  color: #55c57a;
  background-position: 100%;
  -webkit-transform: translateX(1rem);
      -ms-transform: translateX(1rem);
          transform: translateX(1rem);
}
.navigation__link:focus {
  outline: none;
}
.navigation--open .navigation__checkbox:checked ~ .navigation__background {
  -webkit-transform: scale(130);
      -ms-transform: scale(130);
          transform: scale(130);
}
.navigation--open .navigation__checkbox:checked ~ .navigation__nav {
  width: 100%;
  pointer-events: all;
  visibility: visible;
  opacity: 1;
}
.navigation__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  z-index: 100;
  display: inline-block;
  width: 3rem;
  height: 2px;
  background-color: #333;
}
.navigation__icon::before, .navigation__icon::after {
  position: absolute;
  left: 0;
  content: "";
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.navigation__icon::before {
  top: -0.8rem;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}
.navigation__icon::after {
  top: 0.8rem;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}
.navigation__button:hover .navigation__icon::before, .navigation:focus-within .navigation__icon::before {
  top: -1rem;
  background-color: #55c57a;
}
.navigation__button:hover .navigation__icon::after, .navigation:focus-within .navigation__icon::after {
  top: 1rem;
  background-color: #55c57a;
}
.navigation__button:hover .navigation__icon, .navigation:focus-within .navigation__icon {
  background-color: #55c57a;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  background-color: #333;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  background-color: #333;
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
}
.navigation__checkbox:checked:focus + .navigation__button .navigation__icon::before, .navigation__checkbox:checked:hover + .navigation__button .navigation__icon::before {
  background-color: #55c57a;
}
.navigation__checkbox:checked:focus + .navigation__button .navigation__icon::after, .navigation__checkbox:checked:hover + .navigation__button .navigation__icon::after {
  background-color: #55c57a;
}

.header {
  position: relative;
  height: 85vh;
  /* Clip-path property */
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.8)), to(rgba(40, 180, 133, 0.8))), image-set(url("../img/avif/hero-small.avif") type("image/avif") 1x, url("../img/avif/hero.avif") type("image/avif") 2x, url("../img/webp/hero.webp") type("image/webp") 1x, url("../img/webp/hero-small.webp") type("image/webp") 2x, url("../img/jpg/hero-small.jpg") 1x, url("../img/jpg/hero.jpg") 2x);
  background-image: -webkit-linear-gradient(left top, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), -webkit-image-set(url("../img/avif/hero-small.avif") type("image/avif") 1x, url("../img/avif/hero.avif") type("image/avif") 2x, url("../img/webp/hero.webp") type("image/webp") 1x, url("../img/webp/hero-small.webp") type("image/webp") 2x, url("../img/jpg/hero-small.jpg") 1x, url("../img/jpg/hero.jpg") 2x);
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), image-set(url("../img/avif/hero-small.avif") type("image/avif") 1x, url("../img/avif/hero.avif") type("image/avif") 2x, url("../img/webp/hero.webp") type("image/webp") 1x, url("../img/webp/hero-small.webp") type("image/webp") 2x, url("../img/jpg/hero-small.jpg") 1x, url("../img/jpg/hero.jpg") 2x);
  background-position: top;
  background-size: cover;
}
@supports ((-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0))) {
  .header {
    height: 95vh;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  }
}
.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}
.header__logo {
  width: auto;
  height: 3.5rem;
}
.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
.row::after {
  display: table;
  clear: both;
  content: "";
}
.row [class^=col-] {
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 6rem;
}
.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - (6rem * 2)) / 3);
}
.row .col-2-of-3 {
  width: calc(
      2 * ((100% - (6rem * 2)) / 3) + 6rem
    );
}
.row .col-1-of-4 {
  width: calc((100% - (6rem * 3)) / 4);
}
.row .col-2-of-4 {
  width: calc(
      2 * ((100% - (6rem * 3)) / 4) + 6rem
    );
}
.row .col-3-of-4 {
  width: calc(3 * (100% - (6rem * 3)) / 4 + (6rem * 2));
}

.footer {
  padding: 10rem 0;
  font-size: 1.4rem;
  background-color: #333;
}
.footer__logo-box {
  margin-bottom: 8rem;
  text-align: center;
}
.footer__logo {
  display: inline-block;
  width: 15rem;
  height: auto;
}
.footer__navigation {
  display: inline-block;
  padding-top: 2rem;
  border-top: 1px solid #777;
}
.footer__list {
  list-style: none;
}
.footer__item {
  display: inline-block;
}
.footer__item:not(:last-child) {
  margin-right: 1.5rem;
}
.footer__link:link, .footer__link:visited {
  display: inline-block;
  color: #f7f7f7;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #333;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.footer__link:hover, .footer__link:active, .footer__link:focus {
  color: #55c57a;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  -webkit-transform: rotate(5deg) scale(1.3);
      -ms-transform: rotate(5deg) scale(1.3);
          transform: rotate(5deg) scale(1.3);
}
.footer__link:focus {
  outline: none;
}
.footer__copyright {
  float: right;
  width: 80%;
  padding-top: 2rem;
  color: #f7f7f7;
  border-top: 1px solid #777;
}

.section-about {
  padding: 25rem 0 35rem;
  margin-top: -15rem;
  background-color: #f7f7f7;
}

.section-features {
  padding: 20rem 0;
  margin-top: -15rem;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.8)), to(rgba(40, 180, 133, 0.8))), image-set(url("../img/avif/nat-4.avif") type("image/avif"), url("../img/webp/nat-4.webp") type("image/webp"), url("../img/jpg/nat-4.jpg"));
  background-image: -webkit-linear-gradient(left top, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), -webkit-image-set(url("../img/avif/nat-4.avif") type("image/avif"), url("../img/webp/nat-4.webp") type("image/webp"), url("../img/jpg/nat-4.jpg"));
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), image-set(url("../img/avif/nat-4.avif") type("image/avif"), url("../img/webp/nat-4.webp") type("image/webp"), url("../img/jpg/nat-4.jpg"));
  background-position: top;
  background-size: cover;
  -webkit-transform: skewY(-7deg);
      -ms-transform: skewY(-7deg);
          transform: skewY(-7deg);
}
.section-features > * {
  -webkit-transform: skewY(7deg);
      -ms-transform: skewY(7deg);
          transform: skewY(7deg);
}

.section-tours {
  padding: 25rem 0 15rem;
  margin-top: -15rem;
  background-color: #f7f7f7;
}

.section-stories {
  position: relative;
  padding: 15rem 0;
}

.section-book {
  padding: 15rem 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#7ed56f), to(#28b485));
  background-image: -webkit-linear-gradient(left top, #7ed56f, #28b485);
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}

.book {
  background-image: -webkit-linear-gradient(345deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), -webkit-image-set(url("../img/avif/nat-10.avif") type("image/avif"), url("../img/webp/nat-10.webp") type("image/webp"), url("../img/jpg/nat-10.jpg"));
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), image-set(url("../img/avif/nat-10.avif") type("image/avif"), url("../img/webp/nat-10.webp") type("image/webp"), url("../img/jpg/nat-10.jpg"));
  background-size: cover;
  border-radius: 3px;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}
.book__form {
  width: 50%;
  padding: 6rem;
}
@media only screen and (width <= 75em) {
  html {
    font-size: 56.25%;
  }
  .form .u-margin-bottom-medium .title-h2 {
    font-size: 2.8rem;
  }
  .popup__left {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
  }
  .popup__left::after {
    display: table;
    clear: both;
    content: "";
  }
  .popup__right {
    display: block;
    width: 100%;
  }
  .popup__img {
    float: left;
    width: 50%;
  }
  .section-book {
    padding: 10rem 3rem;
  }
  .book {
    background-image: -webkit-linear-gradient(345deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 55%, transparent 55%), -webkit-image-set(url("../img/avif/nat-10.avif") type("image/avif"), url("../img/webp/nat-10.webp") type("image/webp"), url("../img/jpg/nat-10.jpg"));
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 55%, transparent 55%), image-set(url("../img/avif/nat-10.avif") type("image/avif"), url("../img/webp/nat-10.webp") type("image/webp"), url("../img/jpg/nat-10.jpg"));
  }
  .book__form {
    width: 55%;
  }
}
@media only screen and (width <= 56.25em), only screen and (hover: none) {
  .card {
    height: auto;
    background-color: #fff;
    border-radius: 3px;
    -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
            box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  }
  .card__side {
    position: relative;
    height: auto;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .card__side--back {
    -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  .card:hover .card__side--front {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  .card:focus-within .card__side--front {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  .card__details {
    padding: 1rem 3rem;
  }
  .card__cta {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 7rem 4rem 4rem;
    -webkit-transform: translate(0);
        -ms-transform: translate(0);
            transform: translate(0);
  }
  .card__price-box {
    margin-bottom: 3rem;
  }
  .card__price-value {
    font-size: 4rem;
  }
}
@media only screen and (width <= 56.25em) {
  html {
    font-size: 50%;
  }
  body {
    padding: 0;
  }
  .title-h2 {
    font-size: 3rem;
  }
  .u-margin-bottom-medium {
    margin-bottom: 3rem !important;
  }
  .u-margin-bottom-big {
    margin-bottom: 5rem !important;
  }
  .composition__photo {
    position: relative;
    float: left;
    width: 33.3333%;
    outline-offset: 1rem;
    -webkit-box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
            box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
  }
  .composition__photo--p1 {
    top: 0;
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }
  .composition__photo--p2 {
    top: -1rem;
    z-index: 100;
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
            transform: scale(1.3);
  }
  .composition__photo--p3 {
    top: 1rem;
    left: 0;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
  .composition__photo:hover {
    outline: 0.5rem solid #55c57a;
    -webkit-box-shadow: 0 2.5rem 3rem rgba(0, 0, 0, 0.2);
            box-shadow: 0 2.5rem 3rem rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
            transform: scale(1.5);
  }
  .composition:hover .composition__photo:not(:hover) {
    -webkit-transform: translateY(2rem);
        -ms-transform: translateY(2rem);
            transform: translateY(2rem);
  }
  .feature-box {
    padding: 2rem;
  }
  .feature-box__icon {
    margin-bottom: 0;
  }
  .story {
    width: 100%;
    padding: 4rem 4rem 4rem 7rem;
  }
  .form__input {
    width: 100%;
  }
  .form__radio-group {
    width: 100%;
    margin-bottom: 2rem;
  }
  .popup__right {
    padding: 2rem 3rem;
  }
  .popup__img {
    float: left;
  }
  .navigation__button {
    top: 4rem;
    right: 4rem;
  }
  .navigation__background {
    top: 4.5rem;
    right: 4.5rem;
  }
  .row:not(:last-child) {
    margin-bottom: 6rem;
  }
  .row {
    max-width: 50rem;
    padding: 0 3rem;
  }
  .row [class^=col-]:not(:last-child) {
    margin-right: 0;
    margin-bottom: 6rem;
  }
  .row [class^=col-] {
    width: 100% !important;
  }
  .footer {
    padding: 8rem 0;
  }
  .footer__logo-box {
    margin-bottom: 4rem;
  }
  .footer__navigation {
    width: 100%;
    text-align: center;
  }
  .footer__copyright {
    float: none;
    width: 100%;
  }
  .section-about {
    padding: 15rem 0 25rem;
  }
  .section-features {
    padding: 10rem 0;
  }
  .section-tours {
    padding: 25rem 0 10rem;
  }
  .section-stories {
    padding: 10rem 0;
  }
  .book {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0.9))), image-set(url("../img/avif/nat-10.avif") type("image/avif"), url("../img/webp/nat-10.webp") type("image/webp"), url("../img/jpg/nat-10.jpg"));
    background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%), -webkit-image-set(url("../img/avif/nat-10.avif") type("image/avif"), url("../img/webp/nat-10.webp") type("image/webp"), url("../img/jpg/nat-10.jpg"));
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%), image-set(url("../img/avif/nat-10.avif") type("image/avif"), url("../img/webp/nat-10.webp") type("image/webp"), url("../img/jpg/nat-10.jpg"));
  }
  .book__form {
    width: 100%;
  }
}
@media only screen and (width <= 37.5em) {
  .title-h1--main {
    font-size: 5rem;
    letter-spacing: 1rem;
  }
  .title-h1--sub {
    letter-spacing: 0.55rem;
  }
  .title-h2 {
    font-size: 2.5rem;
  }
  .story {
    -webkit-transform: skewX(0);
        -ms-transform: skewX(0);
            transform: skewX(0);
  }
  .story__shape {
    -webkit-transform: translateX(-3rem) skewX(0);
        -ms-transform: translateX(-3rem) skewX(0);
            transform: translateX(-3rem) skewX(0);
  }
  .story__text {
    -webkit-transform: skewX(0);
        -ms-transform: skewX(0);
            transform: skewX(0);
  }
  .popup__content {
    width: 90%;
  }
  .popup__right > .title-h2 {
    font-size: 2rem;
  }
  .popup__text {
    -webkit-column-count: 1;
       -moz-column-count: 1;
            column-count: 1;
  }
  .navigation__button {
    top: 3rem;
    right: 3rem;
  }
  .navigation__background {
    top: 3.5rem;
    right: 3.5rem;
  }
  .navigation__link:link, .navigation__link:visited {
    padding: 0.5rem 1rem;
    font-size: 1.78rem;
  }
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
  }
}
@media only screen and (width >= 112.5em) {
  html {
    font-size: 75%;
  }
}