.container {
    max-inline-size: 120rem;
    min-block-size: 50rem;
    margin-block: 8rem;
    margin-inline: auto;
    background-color: var(--cl-grey-light-1);
    box-shadow: var(--sh-dark);

    @media only screen and (max-width: $bp-largest) {
        margin: 0;
    }

    @media only screen and (max-width: $bp-large) {
        inline-size: 100%;
        max-inline-size: 100%;
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    block-size: 7rem;
    font-size: 1.4rem;
    background-color: var(--cl-white);
    border-block-end: var(--line);
}

.content {
    display: flex;

    @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
    }
}

.sidebar {
    display: flex;
    flex: 0 0 18%;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--cl-grey-dark-1);
}

.hotel-view {
    flex: 1;
    background-color: var(--cl-white);
}

.detail {
    display: flex;
    padding: 4.5rem;
    font-size: 1.4rem;
    background-color: var(--cl-grey-light-1);
    border-block-end: var(--line);

    @media only screen and (max-width: $bp-medium) {
        padding: 3rem;
    }
}

.description {
    flex: 0 0 60%;
    padding: 3rem;
    margin-inline-end: 4.5rem;
    background-color: var(--cl-white);
    box-shadow: var(--sh-light);

    @media only screen and (max-width: $bp-medium) {
        padding: 2rem;
        margin-inline-end: 3rem;
    }
}

.user-reviews {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}
