// colors | defaults
$color-white: hsl(0deg 0% 100%);
$color-black: hsl(0deg 0% 0%);

// colors | primary
$color-primary-l: hsl(111deg 55% 64%);
$color-primary-m: hsl(140deg 49% 55%);
$color-primary-d: hsl(160deg 64% 43%);

// colors | secondary
$color-secondary-l: hsl(44deg 100% 50%);
$color-secondary-d: hsl(21deg 100% 59%);

// colors | tertiary
$color-tertiary-l: hsl(209deg 100% 58%);
$color-tertiary-d: hsl(247deg 95% 62%);

// color | greys
$color-grey-l-1: hsl(0deg 0% 97%);
$color-grey-l-2: hsl(0deg 0% 93%);
$color-grey-d: hsl(0deg 0% 20%);

// color | text
$color-text-d: hsl(0deg 0% 43%);
$color-text-d-2: hsl(0deg 0% 60%);

// color | gradient
$color-gradient-pr-l: hsla(111deg 55% 64% / 80%);
$color-gradient-pr-d: hsla(160deg 64% 43% / 80%);
$color-gradient-sec-l: hsla(44deg 100% 50% / 85%);
$color-gradient-sec-d: hsla(21deg 100% 59% / 85%);
$color-gradient-ter-l: hsla(209deg 100% 58% / 85%);
$color-gradient-ter-d: hsla(247deg 95% 62% / 85%);

// color | background
$color-bcg-white: hsla(0deg 0% 100% / 80%);
$color-bcg-white-2: hsla(0deg 0% 100% / 60%);
$color-bcg-white-3: hsla(0deg 0% 100% / 90%);
$color-bcg-white-4: hsla(0deg 0% 100% / 50%);

// shadows
$shadow-btn-hover: 0 1rem 2rem hsla(0deg 0% 0% / 20%);
$shadow-btn-text-hover: 0 1rem 2rem hsla(0deg 0% 0% / 15%);
$shadow-btn-active: 0 0.5rem 1rem hsla(0deg 0% 0% / 20%);
$shadow-btn-text-active: 0 0.5rem 1rem hsla(0deg 0% 0% / 15%);
$shadow-heading: 0.5rem 1rem 2rem hsla(0deg 0% 0% / 20%);
$shadow-photo: 0 1.5rem 4rem hsla(0deg 0% 0% / 40%);
$shadow-photo-hover: 0 2.5rem 4rem hsla(0deg 0% 0% / 50%);
$shadow-box: 0 1.5rem 4rem hsla(0deg 0% 0% / 15%);
$shadow-box-d: 0 1.5rem 4rem hsla(0deg 0% 0% / 20%);
$shadow-story-box: 0 3rem 6rem hsla(0deg 0% 0% / 10%);
$shadow-input: 0 1rem 2rem hsla(0deg 0% 0% / 10%);
$shadow-link: 0 1rem 2rem hsla(0deg 0% 0% / 40%);
$shadow-navi-btn: 0 1rem 3rem hsla(0deg 0% 0% / 10%);

// grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// fonts
$default-font-size: 1.6rem;

// border-radius
$border-radius-box: 3px;

:root {
    /* color | defaults */
    --cl-white: #{$color-white};
    --cl-black: #{$color-black};

    /* color | greys */
    --cl-grey-l-1: #{$color-grey-l-1};
    --cl-grey-l-2: #{$color-grey-l-2};
    --cl-grey-d: #{$color-grey-d};

    /* color | primary */
    --cl-primary-l: #{$color-primary-l};
    --cl-primary-m: #{$color-primary-m};
    --cl-primary-d: #{$color-primary-d};

    /* color | secondary */
    --cl-secondary-l: #{$color-secondary-l};
    --cl-secondary-d: #{$color-secondary-d};

    /* color | tertiary */
    --cl-tertiary-l: #{$color-tertiary-l};
    --cl-tertiary-d: #{$color-tertiary-d};

    /* color | text */
    --cl-text-d: #{$color-text-d};
    --cl-text-d-2: #{$color-text-d-2};

    /* color | gradient */
    --cl-gradient-pr-l: #{$color-gradient-pr-l};
    --cl-gradient-pr-d: #{$color-gradient-pr-d};
    --cl-gradient-sec-l: #{$color-gradient-sec-l};
    --cl-gradient-sec-d: #{$color-gradient-sec-d};
    --cl-gradient-ter-l: #{$color-gradient-ter-l};
    --cl-gradient-ter-d: #{$color-gradient-ter-d};

    /* color | background */
    --cl-bcg-white: #{$color-bcg-white};
    --cl-bcg-white-2: #{$color-bcg-white-2};
    --cl-bcg-white-3: #{$color-bcg-white-3};
    --cl-bcg-white-4: #{$color-bcg-white-4};

    /* shadows */
    --sh-btn-hover: #{$shadow-btn-hover};
    --sh-btn-active: #{$shadow-btn-active};
    --sh-btn-text-hover: #{$shadow-btn-text-hover};
    --sh-btn-text-active: #{$shadow-btn-text-active};
    --sh-heading: #{$shadow-heading};
    --sh-photo: #{$shadow-photo};
    --sh-photo-hover: #{$shadow-photo-hover};
    --sh-box: #{$shadow-box};
    --sh-box-d: #{$shadow-box-d};
    --sh-story-box: #{$shadow-story-box};
    --sh-input: #{$shadow-input};
    --sh-link: #{$shadow-link};
    --sh-navi-btn: #{$shadow-navi-btn};

    /* grid */
    --grid-width: #{$grid-width};
    --grid-gutter-v: #{$gutter-vertical};
    --grid-gutter-h: #{$gutter-horizontal};

    /* fonts */
    --default-font-size: #{$default-font-size};

    /* border-radius */
    --border-radius-box: #{$border-radius-box};
}
