// colors | defaults
$color-white: hsl(0deg 0% 100%);
$color-black: hsl(0deg 0% 0%);

// colors | primary
$color-primary-l: hsl(111deg 55% 64%);
$color-primary-m: hsl(140deg 49% 55%);
$color-primary-d: hsl(160deg 64% 43%);

// color | greys
$color-grey-l-1: hsl(0deg 0% 97%);

// color | text
$color-text: hsl(0deg 0% 47%);

// color | gradient
$color-gradient-l: hsla(111deg 55% 64% / 80%);
$color-gradient-d: hsl(160deg 64% 43% / 80%);

// shadows
$shadow-btn-hover: 0 1rem 2rem hsla(0deg 0% 0% / 20%);
$shadow-btn-text-hover: 0 1rem 2rem hsla(0deg 0% 0% / 15%);
$shadow-btn-active: 0 0.5rem 1rem hsla(0deg 0% 0% / 20%);
$shadow-btn-text-active: 0 0.5rem 1rem hsla(0deg 0% 0% / 15%);
$shadow-heading: 0.5rem 1rem 2rem hsla(0deg 0% 0% / 20%);
$shadow-photo: 0 1.5rem 4rem hsla(0deg 0% 0% / 40%);
$shadow-photo-hover: 0 2.5rem 4rem hsla(0deg 0% 0% / 50%);

// grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// fonts
$default-font-size: 1.6rem;

:root {
    // color | defaults
    --cl-white: #{$color-white};
    --cl-black: #{$color-black};

    /* color | greys */
    --cl-grey-l-1: #{$color-grey-l-1};

    /* color | primary */
    --cl-primary-l: #{$color-primary-l};
    --cl-primary-m: #{$color-primary-m};
    --cl-primary-d: #{$color-primary-d};

    /* color | text */
    --cl-text-d: #{$color-text};

    /* color | gradient */
    --cl-grd-l: #{$color-gradient-l};
    --cl-grd-d: #{$color-gradient-d};

    /* shadows */
    --sh-btn-hover: #{$shadow-btn-hover};
    --sh-btn-active: #{$shadow-btn-active};
    --sh-btn-text-hover: #{$shadow-btn-text-hover};
    --sh-btn-text-active: #{$shadow-btn-text-active};
    --sh-heading: #{$shadow-heading};
    --sh-photo: #{$shadow-photo};
    --sh-photo-hover: #{$shadow-photo-hover};

    // grid
    --grid-width: #{$grid-width};
    --grid-gutter-v: #{$gutter-vertical};
    --grid-gutter-h: #{$gutter-horizontal};

    // fonts
    --default-font-size: #{$default-font-size};
}
