body {
    box-sizing: border-box;
    padding: 3rem;
    font-family: Lato, sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: var(--cl-text-d);
}

/* headings */
.heading-primary {
    margin-block-end: 6rem;
    color: var(--cl-white);
    text-transform: uppercase;
    backface-visibility: hidden;

    &--main,
    &--sub {
        display: block;
        animation-duration: 1s;
        animation-timing-function: ease-out;

        /*
        animation-delay: 3s;
        animation-iteration-count: 3; */
    }

    &--main {
        display: flex;
        gap: 3.5rem;
        justify-content: space-evenly;
        font-size: 6rem;
        font-weight: 400;

        /* animation: moveInLeft 1s ease-out */
        animation-name: moveInLeft;
    }

    &--sub {
        display: flex;
        justify-content: space-between;
        font-size: 2rem;
        font-weight: 700;

        /* animation: moveInRight 1s ease-out */
        animation-name: moveInRight;
    }

    &--sub div {
        display: flex;
        gap: 1.74rem;
    }
}

.heading-secondary {
    display: inline-block;
    font-size: 3.5rem;
    font-weight: 700;
    color: transparent;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(
        to right,
        var(--cl-primary-l),
        var(--cl-primary-d)
    );
    background-clip: text;
    transition: all 0.2s;

    &:hover {
        text-shadow: var(--sh-heading);
        transform: skewY(2deg) skewX(15deg) scale(1.1);
    }
}

.heading-tertiary {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: 1.6rem;

    &:not(:last-child) {
        margin-block-end: 3rem;
    }
}
