// utils | text
.u-center-text {
    text-align: center;
}

// utils | margins
.u-margin-bottom-small {
    margin-block-end: 1.5rem;
}

.u-margin-bottom-medium {
    margin-block-end: 4rem;
}

.u-margin-bottom-big {
    margin-block-end: 8rem;
}

.u-margin-top-big {
    margin-block-start: 8rem;
}

.u-margin-top-huge {
    margin-block-start: 10rem;
}
