/* grid | row */
.row {
    max-inline-size: var(--grid-width);
    margin-inline: auto;

    &:not(:last-child) {
        margin-block-end: var(--grid-gutter-v);

        @include respond(tab-port) {
            margin-block-end: var(--grid-gutter-v-sm);
        }
    }

    @include clearfix;

    @include respond(tab-port) {
        max-inline-size: 50rem;
        padding-inline: 3rem;
    }
}

/* grid | col */
[class^='col-'] {
    float: inline-start;

    &:not(:last-child) {
        margin-inline-end: var(--grid-gutter-h);

        @include respond(tab-port) {
            margin-block-end: var(--grid-gutter-v-sm);
            margin-inline-end: 0;
        }
    }

    @include respond(tab-port) {
        inline-size: 100% !important;
    }
}

/* col-1-of-2 */
.col-1-of-2 {
    inline-size: calc((100% - var(--grid-gutter-h)) / 2);
}

/* col-1-of-3 */
.col-1-of-3 {
    inline-size: calc((100% - (2 * var(--grid-gutter-h))) / 3);
}

/* col-1-of-4 */
.col-1-of-4 {
    inline-size: calc((100% - (3 * var(--grid-gutter-h))) / 4);
}

/* col-2-of-3 */
.col-2-of-3 {
    inline-size: calc(
        ((100% - (2 * var(--grid-gutter-h))) / 3) * 2 + var(--grid-gutter-h)
    );
}

/* col-2-of-4 */
.col-2-of-4 {
    inline-size: calc(
        ((100% - (3 * var(--grid-gutter-h))) / 4) * 2 + var(--grid-gutter-h)
    );
}

/* col-3-of-4 */
.col-3-of-4 {
    inline-size: calc(
        ((100% - (3 * var(--grid-gutter-h))) / 4) * 3 +
            (2 * var(--grid-gutter-h))
    );
}
