.navigation {
    &__checkbox {
        display: none;
    }

    &__button {
        position: fixed;
        inset-block-start: 6rem;
        inset-inline-end: 6rem;
        z-index: 2000;
        inline-size: 7rem;
        block-size: 7rem;

        // centering icon
        text-align: center;
        cursor: pointer;
        background-color: var(--cl-white);
        border-radius: 50%;
        box-shadow: var(--sh-navi-btn);
    }

    &__background {
        position: fixed;
        inset-block-start: 6.5rem;
        inset-inline-end: 6.5rem;
        z-index: 1000;
        inline-size: 6rem;
        block-size: 6rem;
        background-image: radial-gradient(
            var(--cl-primary-l),
            var(--cl-primary-d)
        );
        border-radius: 50%;
        transition: transform 0.6s cubic-bezier(0.86, 0, 0.07, 1);
        // transform: scale(80);
    }

    &__nav {
        position: fixed;
        inset-block-start: 0;
        inset-inline-end: 0;
        z-index: 1500;
        inline-size: 100%;
        inline-size: 0;
        block-size: 100vh;
        opacity: 0;
        transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    &__list {
        inline-size: 100%;
        text-align: center;
        list-style: none;

        @include absoluteCenter;
    }

    &__item {
        margin: 1rem;
    }

    &__link {
        &:link,
        &:visited {
            display: inline-block;
            padding-block: 1rem;
            padding-inline: 2rem;
            font-size: 3rem;
            font-weight: 300;
            color: var(--cl-white);
            text-decoration: none;
            text-transform: uppercase;
            background-image: linear-gradient(
                120deg,
                transparent 0%,
                transparent 50%,
                var(--cl-white) 50%
            );
            background-size: 260%;
            transition: all 0.4s;

            span {
                display: inline-block;
                margin-inline-end: 1.5rem;
            }
        }

        &:hover,
        &:active {
            color: var(--cl-primary-m);
            background-position: 100%;
            transform: translateX(1rem);
        }
    }

    &__checkbox:checked ~ &__background {
        transform: scale(80);
    }

    &__checkbox:checked ~ &__nav {
        inline-size: 100%;
        opacity: 1;
    }

    // navigation | icon
    &__icon {
        position: relative;
        margin-block-start: 3.5rem;

        &,
        &::before,
        &::after {
            display: inline-block;
            inline-size: 3rem;
            block-size: 2px;
            background-color: var(--cl-grey-d);
        }

        &::after,
        &::before {
            position: absolute;
            inset-inline-start: 0;
            content: '';
            transition: all 0.2s;
        }

        &::before {
            inset-block-start: -0.8rem;
            transform-origin: center;
        }

        &::after {
            inset-block-start: 0.8rem;
            transform-origin: center;
        }
    }

    &__button:hover &__icon::before {
        inset-block-start: -1rem;
    }

    &__button:hover &__icon::after {
        inset-block-start: 1rem;
    }

    &__checkbox:checked + &__button &__icon {
        background-color: transparent;
    }

    &__checkbox:checked + &__button &__icon::before {
        inset-block-start: 0;
        transform: rotate(135deg);
    }

    &__checkbox:checked + &__button &__icon::after {
        inset-block-start: 0;
        transform: rotate(-135deg);
    }
}
