*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  color: #6d5d4b;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 80vh -webkit-min-content 40vw (-webkit-min-content)[3];
  -ms-grid-rows: 80vh min-content 40vw (min-content)[3];
  grid-template-rows: 80vh -webkit-min-content 40vw repeat(3, -webkit-min-content);
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  -ms-grid-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] ([col-start] minmax(-webkit-min-content, 14rem) [col-end])[8] [center-end] minmax(6rem, 1fr) [full-end];
  -ms-grid-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] ([col-start] minmax(min-content, 14rem) [col-end])[8] [center-end] minmax(6rem, 1fr) [full-end];
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(-webkit-min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}

.wrapper > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.wrapper > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.wrapper > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.wrapper > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}

.wrapper > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.wrapper > *:nth-child(6) {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
}

.wrapper > *:nth-child(7) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.wrapper > *:nth-child(8) {
  -ms-grid-row: 1;
  -ms-grid-column: 8;
}

.wrapper > *:nth-child(9) {
  -ms-grid-row: 1;
  -ms-grid-column: 9;
}

.wrapper > *:nth-child(10) {
  -ms-grid-row: 1;
  -ms-grid-column: 10;
}

.wrapper > *:nth-child(11) {
  -ms-grid-row: 1;
  -ms-grid-column: 11;
}

.wrapper > *:nth-child(12) {
  -ms-grid-row: 1;
  -ms-grid-column: 12;
}

.wrapper > *:nth-child(13) {
  -ms-grid-row: 1;
  -ms-grid-column: 13;
}

.wrapper > *:nth-child(14) {
  -ms-grid-row: 1;
  -ms-grid-column: 14;
}

.wrapper > *:nth-child(15) {
  -ms-grid-row: 1;
  -ms-grid-column: 15;
}

.wrapper > *:nth-child(16) {
  -ms-grid-row: 1;
  -ms-grid-column: 16;
}

.wrapper > *:nth-child(17) {
  -ms-grid-row: 1;
  -ms-grid-column: 17;
}

.wrapper > *:nth-child(18) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.wrapper > *:nth-child(19) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.wrapper > *:nth-child(20) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.wrapper > *:nth-child(21) {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
}

.wrapper > *:nth-child(22) {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
}

.wrapper > *:nth-child(23) {
  -ms-grid-row: 2;
  -ms-grid-column: 6;
}

.wrapper > *:nth-child(24) {
  -ms-grid-row: 2;
  -ms-grid-column: 7;
}

.wrapper > *:nth-child(25) {
  -ms-grid-row: 2;
  -ms-grid-column: 8;
}

.wrapper > *:nth-child(26) {
  -ms-grid-row: 2;
  -ms-grid-column: 9;
}

.wrapper > *:nth-child(27) {
  -ms-grid-row: 2;
  -ms-grid-column: 10;
}

.wrapper > *:nth-child(28) {
  -ms-grid-row: 2;
  -ms-grid-column: 11;
}

.wrapper > *:nth-child(29) {
  -ms-grid-row: 2;
  -ms-grid-column: 12;
}

.wrapper > *:nth-child(30) {
  -ms-grid-row: 2;
  -ms-grid-column: 13;
}

.wrapper > *:nth-child(31) {
  -ms-grid-row: 2;
  -ms-grid-column: 14;
}

.wrapper > *:nth-child(32) {
  -ms-grid-row: 2;
  -ms-grid-column: 15;
}

.wrapper > *:nth-child(33) {
  -ms-grid-row: 2;
  -ms-grid-column: 16;
}

.wrapper > *:nth-child(34) {
  -ms-grid-row: 2;
  -ms-grid-column: 17;
}

.wrapper > *:nth-child(35) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.wrapper > *:nth-child(36) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}

.wrapper > *:nth-child(37) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.wrapper > *:nth-child(38) {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
}

.wrapper > *:nth-child(39) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.wrapper > *:nth-child(40) {
  -ms-grid-row: 3;
  -ms-grid-column: 6;
}

.wrapper > *:nth-child(41) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}

.wrapper > *:nth-child(42) {
  -ms-grid-row: 3;
  -ms-grid-column: 8;
}

.wrapper > *:nth-child(43) {
  -ms-grid-row: 3;
  -ms-grid-column: 9;
}

.wrapper > *:nth-child(44) {
  -ms-grid-row: 3;
  -ms-grid-column: 10;
}

.wrapper > *:nth-child(45) {
  -ms-grid-row: 3;
  -ms-grid-column: 11;
}

.wrapper > *:nth-child(46) {
  -ms-grid-row: 3;
  -ms-grid-column: 12;
}

.wrapper > *:nth-child(47) {
  -ms-grid-row: 3;
  -ms-grid-column: 13;
}

.wrapper > *:nth-child(48) {
  -ms-grid-row: 3;
  -ms-grid-column: 14;
}

.wrapper > *:nth-child(49) {
  -ms-grid-row: 3;
  -ms-grid-column: 15;
}

.wrapper > *:nth-child(50) {
  -ms-grid-row: 3;
  -ms-grid-column: 16;
}

.wrapper > *:nth-child(51) {
  -ms-grid-row: 3;
  -ms-grid-column: 17;
}

.wrapper > *:nth-child(52) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
}

.wrapper > *:nth-child(53) {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
}

.wrapper > *:nth-child(54) {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
}

.wrapper > *:nth-child(55) {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
}

.wrapper > *:nth-child(56) {
  -ms-grid-row: 4;
  -ms-grid-column: 5;
}

.wrapper > *:nth-child(57) {
  -ms-grid-row: 4;
  -ms-grid-column: 6;
}

.wrapper > *:nth-child(58) {
  -ms-grid-row: 4;
  -ms-grid-column: 7;
}

.wrapper > *:nth-child(59) {
  -ms-grid-row: 4;
  -ms-grid-column: 8;
}

.wrapper > *:nth-child(60) {
  -ms-grid-row: 4;
  -ms-grid-column: 9;
}

.wrapper > *:nth-child(61) {
  -ms-grid-row: 4;
  -ms-grid-column: 10;
}

.wrapper > *:nth-child(62) {
  -ms-grid-row: 4;
  -ms-grid-column: 11;
}

.wrapper > *:nth-child(63) {
  -ms-grid-row: 4;
  -ms-grid-column: 12;
}

.wrapper > *:nth-child(64) {
  -ms-grid-row: 4;
  -ms-grid-column: 13;
}

.wrapper > *:nth-child(65) {
  -ms-grid-row: 4;
  -ms-grid-column: 14;
}

.wrapper > *:nth-child(66) {
  -ms-grid-row: 4;
  -ms-grid-column: 15;
}

.wrapper > *:nth-child(67) {
  -ms-grid-row: 4;
  -ms-grid-column: 16;
}

.wrapper > *:nth-child(68) {
  -ms-grid-row: 4;
  -ms-grid-column: 17;
}

.wrapper > *:nth-child(69) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.wrapper > *:nth-child(70) {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
}

.wrapper > *:nth-child(71) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.wrapper > *:nth-child(72) {
  -ms-grid-row: 5;
  -ms-grid-column: 4;
}

.wrapper > *:nth-child(73) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}

.wrapper > *:nth-child(74) {
  -ms-grid-row: 5;
  -ms-grid-column: 6;
}

.wrapper > *:nth-child(75) {
  -ms-grid-row: 5;
  -ms-grid-column: 7;
}

.wrapper > *:nth-child(76) {
  -ms-grid-row: 5;
  -ms-grid-column: 8;
}

.wrapper > *:nth-child(77) {
  -ms-grid-row: 5;
  -ms-grid-column: 9;
}

.wrapper > *:nth-child(78) {
  -ms-grid-row: 5;
  -ms-grid-column: 10;
}

.wrapper > *:nth-child(79) {
  -ms-grid-row: 5;
  -ms-grid-column: 11;
}

.wrapper > *:nth-child(80) {
  -ms-grid-row: 5;
  -ms-grid-column: 12;
}

.wrapper > *:nth-child(81) {
  -ms-grid-row: 5;
  -ms-grid-column: 13;
}

.wrapper > *:nth-child(82) {
  -ms-grid-row: 5;
  -ms-grid-column: 14;
}

.wrapper > *:nth-child(83) {
  -ms-grid-row: 5;
  -ms-grid-column: 15;
}

.wrapper > *:nth-child(84) {
  -ms-grid-row: 5;
  -ms-grid-column: 16;
}

.wrapper > *:nth-child(85) {
  -ms-grid-row: 5;
  -ms-grid-column: 17;
}

.wrapper > *:nth-child(86) {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
}

.wrapper > *:nth-child(87) {
  -ms-grid-row: 6;
  -ms-grid-column: 2;
}

.wrapper > *:nth-child(88) {
  -ms-grid-row: 6;
  -ms-grid-column: 3;
}

.wrapper > *:nth-child(89) {
  -ms-grid-row: 6;
  -ms-grid-column: 4;
}

.wrapper > *:nth-child(90) {
  -ms-grid-row: 6;
  -ms-grid-column: 5;
}

.wrapper > *:nth-child(91) {
  -ms-grid-row: 6;
  -ms-grid-column: 6;
}

.wrapper > *:nth-child(92) {
  -ms-grid-row: 6;
  -ms-grid-column: 7;
}

.wrapper > *:nth-child(93) {
  -ms-grid-row: 6;
  -ms-grid-column: 8;
}

.wrapper > *:nth-child(94) {
  -ms-grid-row: 6;
  -ms-grid-column: 9;
}

.wrapper > *:nth-child(95) {
  -ms-grid-row: 6;
  -ms-grid-column: 10;
}

.wrapper > *:nth-child(96) {
  -ms-grid-row: 6;
  -ms-grid-column: 11;
}

.wrapper > *:nth-child(97) {
  -ms-grid-row: 6;
  -ms-grid-column: 12;
}

.wrapper > *:nth-child(98) {
  -ms-grid-row: 6;
  -ms-grid-column: 13;
}

.wrapper > *:nth-child(99) {
  -ms-grid-row: 6;
  -ms-grid-column: 14;
}

.wrapper > *:nth-child(100) {
  -ms-grid-row: 6;
  -ms-grid-column: 15;
}

.wrapper > *:nth-child(101) {
  -ms-grid-row: 6;
  -ms-grid-column: 16;
}

.wrapper > *:nth-child(102) {
  -ms-grid-row: 6;
  -ms-grid-column: 17;
}

.title-h4, .title-h3, .title-h2, .title-h1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

.title-h2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1;
}
.title-h2--light {
  color: #f9f7f6;
}
.title-h2--dark {
  color: #54483a;
}

.title-h3 {
  font-size: 1.6rem;
  color: #c69963;
  text-transform: uppercase;
}

.title-h4 {
  font-size: 1.9rem;
}
.title-h4--light {
  color: #f9f7f6;
}
.title-h4--dark {
  color: #54483a;
}

.btn {
  padding: 1.8rem 3rem;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #c69963;
  border: none;
  border-radius: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.btn:hover {
  background-color: #b28451;
}

.u-margin-bottom-small {
  margin-bottom: 2rem;
}

.u-margin-bottom-medium {
  margin-bottom: 3rem;
}

.u-margin-bottom-large {
  margin-bottom: 4rem;
}

.u-margin-bottom-huge {
  margin-bottom: 8rem;
}

.sidebar {
  grid-row: 1/-1;
  grid-column: sidebar-start/sidebar-end;
  background-color: #c69963;
}

.header {
  grid-column: full-start/col-end 6;
  background-color: #54483a;
}

.realtors {
  grid-column: col-start 7/full-end;
  background-color: #101d2c;
}

.features {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-column: center-start/center-end;
  gap: 6rem;
  -webkit-box-align: start;
  -webkit-align-items: start;
      -ms-flex-align: start;
          align-items: start;
  margin: 15rem 0;
}

.feature {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: -webkit-min-content 2.5rem 1fr;
  -ms-grid-columns: min-content 2.5rem 1fr;
  grid-template-columns: -webkit-min-content 1fr;
  grid-template-columns: min-content 1fr;
  row-gap: 1.5rem;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
}
.feature__icon {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/span 2;
  width: 4.5rem;
  height: 4.5rem;
  fill: #c69963;
  -webkit-transform: translateY(-1rem);
      -ms-transform: translateY(-1rem);
          transform: translateY(-1rem);
}
.feature__text {
  font-size: 1.7rem;
}

.story__pictures {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[6];
  grid-template-rows: repeat(6, 1fr);
  -ms-grid-columns: (1fr)[6];
  grid-template-columns: repeat(6, 1fr);
  grid-column: full-start/col-end 4;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #c69963;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(198, 153, 99, 0.5)), to(rgba(198, 153, 99, 0.5))), url("../img/back.jpg");
  background-image: -webkit-linear-gradient(rgba(198, 153, 99, 0.5), rgba(198, 153, 99, 0.5)), url("../img/back.jpg");
  background-image: linear-gradient(rgba(198, 153, 99, 0.5), rgba(198, 153, 99, 0.5)), url("../img/back.jpg");
}

.story__pictures > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.story__pictures > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.story__pictures > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.story__pictures > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}

.story__pictures > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.story__pictures > *:nth-child(6) {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
}

.story__pictures > *:nth-child(7) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.story__pictures > *:nth-child(8) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.story__pictures > *:nth-child(9) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.story__pictures > *:nth-child(10) {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
}

.story__pictures > *:nth-child(11) {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
}

.story__pictures > *:nth-child(12) {
  -ms-grid-row: 2;
  -ms-grid-column: 6;
}

.story__pictures > *:nth-child(13) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.story__pictures > *:nth-child(14) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}

.story__pictures > *:nth-child(15) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.story__pictures > *:nth-child(16) {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
}

.story__pictures > *:nth-child(17) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.story__pictures > *:nth-child(18) {
  -ms-grid-row: 3;
  -ms-grid-column: 6;
}

.story__pictures > *:nth-child(19) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
}

.story__pictures > *:nth-child(20) {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
}

.story__pictures > *:nth-child(21) {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
}

.story__pictures > *:nth-child(22) {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
}

.story__pictures > *:nth-child(23) {
  -ms-grid-row: 4;
  -ms-grid-column: 5;
}

.story__pictures > *:nth-child(24) {
  -ms-grid-row: 4;
  -ms-grid-column: 6;
}

.story__pictures > *:nth-child(25) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.story__pictures > *:nth-child(26) {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
}

.story__pictures > *:nth-child(27) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.story__pictures > *:nth-child(28) {
  -ms-grid-row: 5;
  -ms-grid-column: 4;
}

.story__pictures > *:nth-child(29) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}

.story__pictures > *:nth-child(30) {
  -ms-grid-row: 5;
  -ms-grid-column: 6;
}

.story__pictures > *:nth-child(31) {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
}

.story__pictures > *:nth-child(32) {
  -ms-grid-row: 6;
  -ms-grid-column: 2;
}

.story__pictures > *:nth-child(33) {
  -ms-grid-row: 6;
  -ms-grid-column: 3;
}

.story__pictures > *:nth-child(34) {
  -ms-grid-row: 6;
  -ms-grid-column: 4;
}

.story__pictures > *:nth-child(35) {
  -ms-grid-row: 6;
  -ms-grid-column: 5;
}

.story__pictures > *:nth-child(36) {
  -ms-grid-row: 6;
  -ms-grid-column: 6;
}
.story__img--1 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 4;
  grid-row: 2/6;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2/6;
  width: 100%;
  -webkit-box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
}
.story__img--2 {
  z-index: 20;
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  grid-row: 4/6;
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-column: 4/7;
  width: 115%;
  -webkit-box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}
.story__content {
  display: -ms-grid;
  display: grid;
  grid-column: col-start 5/full-end;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  justify-items: start;
  padding: 6rem 8vw;
  background-color: #f9f7f6;
}
.story__text {
  margin-bottom: 4rem;
  font-size: 1.5rem;
  font-style: italic;
}

.homes {
  grid-column: center-start/center-end;
  background-color: #101d2c;
}

.gallery {
  grid-column: full-start/full-end;
  background-color: #54483a;
}

.footer {
  grid-column: full-start/full-end;
  background-color: #101d2c;
}