*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  color: #6d5d4b;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 80vh -webkit-min-content 40vw (-webkit-min-content)[3];
  -ms-grid-rows: 80vh min-content 40vw (min-content)[3];
  grid-template-rows: 80vh -webkit-min-content 40vw repeat(3, -webkit-min-content);
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  -ms-grid-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] ([col-start] minmax(-webkit-min-content, 14rem) [col-end])[8] [center-end] minmax(6rem, 1fr) [full-end];
  -ms-grid-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] ([col-start] minmax(min-content, 14rem) [col-end])[8] [center-end] minmax(6rem, 1fr) [full-end];
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(-webkit-min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}

.container > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.container > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.container > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.container > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}

.container > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.container > *:nth-child(6) {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
}

.container > *:nth-child(7) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.container > *:nth-child(8) {
  -ms-grid-row: 1;
  -ms-grid-column: 8;
}

.container > *:nth-child(9) {
  -ms-grid-row: 1;
  -ms-grid-column: 9;
}

.container > *:nth-child(10) {
  -ms-grid-row: 1;
  -ms-grid-column: 10;
}

.container > *:nth-child(11) {
  -ms-grid-row: 1;
  -ms-grid-column: 11;
}

.container > *:nth-child(12) {
  -ms-grid-row: 1;
  -ms-grid-column: 12;
}

.container > *:nth-child(13) {
  -ms-grid-row: 1;
  -ms-grid-column: 13;
}

.container > *:nth-child(14) {
  -ms-grid-row: 1;
  -ms-grid-column: 14;
}

.container > *:nth-child(15) {
  -ms-grid-row: 1;
  -ms-grid-column: 15;
}

.container > *:nth-child(16) {
  -ms-grid-row: 1;
  -ms-grid-column: 16;
}

.container > *:nth-child(17) {
  -ms-grid-row: 1;
  -ms-grid-column: 17;
}

.container > *:nth-child(18) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.container > *:nth-child(19) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.container > *:nth-child(20) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.container > *:nth-child(21) {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
}

.container > *:nth-child(22) {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
}

.container > *:nth-child(23) {
  -ms-grid-row: 2;
  -ms-grid-column: 6;
}

.container > *:nth-child(24) {
  -ms-grid-row: 2;
  -ms-grid-column: 7;
}

.container > *:nth-child(25) {
  -ms-grid-row: 2;
  -ms-grid-column: 8;
}

.container > *:nth-child(26) {
  -ms-grid-row: 2;
  -ms-grid-column: 9;
}

.container > *:nth-child(27) {
  -ms-grid-row: 2;
  -ms-grid-column: 10;
}

.container > *:nth-child(28) {
  -ms-grid-row: 2;
  -ms-grid-column: 11;
}

.container > *:nth-child(29) {
  -ms-grid-row: 2;
  -ms-grid-column: 12;
}

.container > *:nth-child(30) {
  -ms-grid-row: 2;
  -ms-grid-column: 13;
}

.container > *:nth-child(31) {
  -ms-grid-row: 2;
  -ms-grid-column: 14;
}

.container > *:nth-child(32) {
  -ms-grid-row: 2;
  -ms-grid-column: 15;
}

.container > *:nth-child(33) {
  -ms-grid-row: 2;
  -ms-grid-column: 16;
}

.container > *:nth-child(34) {
  -ms-grid-row: 2;
  -ms-grid-column: 17;
}

.container > *:nth-child(35) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.container > *:nth-child(36) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}

.container > *:nth-child(37) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.container > *:nth-child(38) {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
}

.container > *:nth-child(39) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.container > *:nth-child(40) {
  -ms-grid-row: 3;
  -ms-grid-column: 6;
}

.container > *:nth-child(41) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}

.container > *:nth-child(42) {
  -ms-grid-row: 3;
  -ms-grid-column: 8;
}

.container > *:nth-child(43) {
  -ms-grid-row: 3;
  -ms-grid-column: 9;
}

.container > *:nth-child(44) {
  -ms-grid-row: 3;
  -ms-grid-column: 10;
}

.container > *:nth-child(45) {
  -ms-grid-row: 3;
  -ms-grid-column: 11;
}

.container > *:nth-child(46) {
  -ms-grid-row: 3;
  -ms-grid-column: 12;
}

.container > *:nth-child(47) {
  -ms-grid-row: 3;
  -ms-grid-column: 13;
}

.container > *:nth-child(48) {
  -ms-grid-row: 3;
  -ms-grid-column: 14;
}

.container > *:nth-child(49) {
  -ms-grid-row: 3;
  -ms-grid-column: 15;
}

.container > *:nth-child(50) {
  -ms-grid-row: 3;
  -ms-grid-column: 16;
}

.container > *:nth-child(51) {
  -ms-grid-row: 3;
  -ms-grid-column: 17;
}

.container > *:nth-child(52) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
}

.container > *:nth-child(53) {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
}

.container > *:nth-child(54) {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
}

.container > *:nth-child(55) {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
}

.container > *:nth-child(56) {
  -ms-grid-row: 4;
  -ms-grid-column: 5;
}

.container > *:nth-child(57) {
  -ms-grid-row: 4;
  -ms-grid-column: 6;
}

.container > *:nth-child(58) {
  -ms-grid-row: 4;
  -ms-grid-column: 7;
}

.container > *:nth-child(59) {
  -ms-grid-row: 4;
  -ms-grid-column: 8;
}

.container > *:nth-child(60) {
  -ms-grid-row: 4;
  -ms-grid-column: 9;
}

.container > *:nth-child(61) {
  -ms-grid-row: 4;
  -ms-grid-column: 10;
}

.container > *:nth-child(62) {
  -ms-grid-row: 4;
  -ms-grid-column: 11;
}

.container > *:nth-child(63) {
  -ms-grid-row: 4;
  -ms-grid-column: 12;
}

.container > *:nth-child(64) {
  -ms-grid-row: 4;
  -ms-grid-column: 13;
}

.container > *:nth-child(65) {
  -ms-grid-row: 4;
  -ms-grid-column: 14;
}

.container > *:nth-child(66) {
  -ms-grid-row: 4;
  -ms-grid-column: 15;
}

.container > *:nth-child(67) {
  -ms-grid-row: 4;
  -ms-grid-column: 16;
}

.container > *:nth-child(68) {
  -ms-grid-row: 4;
  -ms-grid-column: 17;
}

.container > *:nth-child(69) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.container > *:nth-child(70) {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
}

.container > *:nth-child(71) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.container > *:nth-child(72) {
  -ms-grid-row: 5;
  -ms-grid-column: 4;
}

.container > *:nth-child(73) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}

.container > *:nth-child(74) {
  -ms-grid-row: 5;
  -ms-grid-column: 6;
}

.container > *:nth-child(75) {
  -ms-grid-row: 5;
  -ms-grid-column: 7;
}

.container > *:nth-child(76) {
  -ms-grid-row: 5;
  -ms-grid-column: 8;
}

.container > *:nth-child(77) {
  -ms-grid-row: 5;
  -ms-grid-column: 9;
}

.container > *:nth-child(78) {
  -ms-grid-row: 5;
  -ms-grid-column: 10;
}

.container > *:nth-child(79) {
  -ms-grid-row: 5;
  -ms-grid-column: 11;
}

.container > *:nth-child(80) {
  -ms-grid-row: 5;
  -ms-grid-column: 12;
}

.container > *:nth-child(81) {
  -ms-grid-row: 5;
  -ms-grid-column: 13;
}

.container > *:nth-child(82) {
  -ms-grid-row: 5;
  -ms-grid-column: 14;
}

.container > *:nth-child(83) {
  -ms-grid-row: 5;
  -ms-grid-column: 15;
}

.container > *:nth-child(84) {
  -ms-grid-row: 5;
  -ms-grid-column: 16;
}

.container > *:nth-child(85) {
  -ms-grid-row: 5;
  -ms-grid-column: 17;
}

.container > *:nth-child(86) {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
}

.container > *:nth-child(87) {
  -ms-grid-row: 6;
  -ms-grid-column: 2;
}

.container > *:nth-child(88) {
  -ms-grid-row: 6;
  -ms-grid-column: 3;
}

.container > *:nth-child(89) {
  -ms-grid-row: 6;
  -ms-grid-column: 4;
}

.container > *:nth-child(90) {
  -ms-grid-row: 6;
  -ms-grid-column: 5;
}

.container > *:nth-child(91) {
  -ms-grid-row: 6;
  -ms-grid-column: 6;
}

.container > *:nth-child(92) {
  -ms-grid-row: 6;
  -ms-grid-column: 7;
}

.container > *:nth-child(93) {
  -ms-grid-row: 6;
  -ms-grid-column: 8;
}

.container > *:nth-child(94) {
  -ms-grid-row: 6;
  -ms-grid-column: 9;
}

.container > *:nth-child(95) {
  -ms-grid-row: 6;
  -ms-grid-column: 10;
}

.container > *:nth-child(96) {
  -ms-grid-row: 6;
  -ms-grid-column: 11;
}

.container > *:nth-child(97) {
  -ms-grid-row: 6;
  -ms-grid-column: 12;
}

.container > *:nth-child(98) {
  -ms-grid-row: 6;
  -ms-grid-column: 13;
}

.container > *:nth-child(99) {
  -ms-grid-row: 6;
  -ms-grid-column: 14;
}

.container > *:nth-child(100) {
  -ms-grid-row: 6;
  -ms-grid-column: 15;
}

.container > *:nth-child(101) {
  -ms-grid-row: 6;
  -ms-grid-column: 16;
}

.container > *:nth-child(102) {
  -ms-grid-row: 6;
  -ms-grid-column: 17;
}
.container > * {
  padding: 40px;
  font-size: 3rem;
}

.sidebar {
  grid-row: 1/-1;
  grid-column: sidebar-start/sidebar-end;
  background-color: #c69963;
}

.header {
  grid-column: full-start/col-end 6;
  background-color: #54483a;
}

.realtors {
  grid-column: col-start 7/full-end;
  background-color: #101d2c;
}

.features {
  -ms-grid-row: 2;
  grid-row: 2;
  grid-column: center-start/center-end;
  background-color: #aaa;
}

.story__pictures {
  grid-column: full-start/col-end 4;
  background-color: #c69963;
}
.story__content {
  grid-column: col-start 5/full-end;
  background-color: #f9f7f6;
}

.homes {
  grid-column: center-start/center-end;
  background-color: #101d2c;
}

.gallery {
  grid-column: full-start/full-end;
  background-color: #54483a;
}

.footer {
  grid-column: full-start/full-end;
  background-color: #101d2c;
}