.section-about {
    padding-block: 26rem 39rem;
    margin-block-start: -20vh;
    background-color: var(--cl-grey-l-1);

    @include respond(tab-port) {
        padding-block: 21rem 34rem;
    }
}

.section-features {
    padding-block: 20rem;
    margin-block-start: -22rem;
    background-image: linear-gradient(
            to right bottom,
            var(--cl-gradient-pr-l),
            var(--cl-gradient-pr-d)
        ),
        image-set(
            url('../../img/nat/nat-4.avif') type('image/avif'),
            url('../../img/nat/nat-4.webp') type('image/webp'),
            url('../../img/nat/nat-4.jpg')
        );
    background-position: top;
    background-size: cover;
    transform: skewY(-7deg);

    @include respond(tab-port) {
        padding-block: 10rem;
    }

    & > * {
        transform: skewY(7deg);
    }
}

.section-tours {
    padding-block: 38rem 15rem;
    margin-block-start: -20rem;
    background-color: var(--cl-grey-l-1);

    @include respond(tab-port) {
        padding-block: 30rem 10rem;
    }
}

.section-stories {
    position: relative;
    padding-block: 15rem;

    @include respond(tab-port) {
        padding-block: 10rem;
    }
}

.section-book {
    padding-block: 15rem;
    background-image: linear-gradient(
        to right bottom,
        var(--cl-primary-l),
        var(--cl-primary-d)
    );

    @include respond(tab-port) {
        padding-block: 10rem;
    }
}

.book {
    background-image: linear-gradient(
            105deg,
            var(--cl-bcg-white-3) 0%,
            var(--cl-bcg-white-3) 50%,
            transparent 50%
        ),
        image-set(
            url('../../img/nat/nat-10.avif') type('image/avif'),
            url('../../img/nat/nat-10.webp') type('image/webp'),
            url('../../img/nat/nat-10.jpg')
        );
    background-repeat: no-repeat;
    background-size: cover;
    // cover = 100%
    background-size: 100%;
    border-radius: var(--border-radius-box);
    box-shadow: var(--sh-box-d);

    &__form {
        inline-size: 50%;
        padding: 6rem;
    }
}
