.feature-box {
    padding: 2.5rem;
    font-size: 1.5rem;
    text-align: center;
    background-color: var(--cl-bcg-white);
    border-radius: var(--border-radius-box);
    box-shadow: var(--sh-box);
    transition: transform 0.3s;

    @include respond(tab-port) {
        padding: 2rem;
    }

    &__icon {
        display: inline-block;
        margin-block-end: 0.5rem;
        font-size: 6rem;
        color: transparent;
        background-image: linear-gradient(
            to right,
            var(--cl-primary-l),
            var(--cl-primary-d)
        );
        background-clip: text;

        @include respond(tab-port) {
            margin-block-end: 0;
        }
    }

    &:hover {
        transform: translateY(-1.5rem) scale(1.03);
    }
}
