.story {
    inline-size: 75%;
    padding: 6rem;
    padding-inline-start: 9rem;
    margin-inline: auto;
    font-size: var(--default-font-size);
    background-color: var(--cl-bcg-white-2);
    border-radius: var(--border-radius-box);
    box-shadow: var(--sh-story-box);
    transform: skewX(-12deg);

    @include respond(tab-port) {
        inline-size: 100%;
        padding: 4rem;
        padding-inline-start: 7rem;
    }

    @include respond(phone) {
        padding-inline-start: 4rem;
        transform: skewX(0);
    }

    &__shape {
        position: relative;
        float: inline-start;
        overflow: hidden;
        transform: translateX(-3rem) skewX(12deg);
        shape-outside: circle(50% at 50% 50%);

        @supports (
            (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0, 0))
        ) {
            inline-size: 15rem;
            block-size: 15rem;
            clip-path: circle(50% at 50% 50%);
        }

        @include respond(phone) {
            display: block;
            float: none;
            margin-block-end: 2rem;
            margin-inline: auto;
            transform: translateX(0) skewX(0);
        }
    }

    &__img {
        position: absolute;
        inset-block-start: 50%;
        inset-inline-start: 50%;
        max-inline-size: initial;
        block-size: 100%;
        object-fit: contain;
        transition: all 0.5s;
        transform: translate(-50%, -50%) scale(1.4);

        // fix shaky animations on old browsers
        backface-visibility: hidden;
    }

    &__text {
        transform: skew(12deg);

        @include respond(phone) {
            transform: skewX(0);
        }

        & h3 {
            @include respond(phone) {
                text-align: center;
            }
        }
    }

    &__caption {
        position: absolute;
        inset-block-start: 50%;
        inset-inline-start: 50%;
        font-size: 1.7rem;
        color: var(--cl-white);
        text-align: center;
        text-transform: uppercase;
        opacity: 0;
        transition: all 0.5s;
        transform: translate(-50%, 20%);
        backface-visibility: hidden;
    }

    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    &:hover &__img {
        filter: blur(3px) brightness(80%);
        transform: translate(-50%, -50%) scale(1);
    }
}
