/*
COLORS:

Light green: hsl(111deg 55% 64%)
Medium green: hsl(140deg 49% 55%)
Dark green: hsl(160deg 64% 43%)

*/

:root {
    /* color | defaults */
    --cl-white: hsl(0deg 0% 100%);

    /* color | primary */
    --cl-green-l: hsl(111deg 55% 64%);
    --cl-green-m: hsl(140deg 49% 55%);
    --cl-green-d: hsl(160deg 64% 43%);

    /* color | text */
    --cl-text: hsl(0deg 0% 47%);

    /* color | gradient */
    --cl-grd-l: hsla(111deg 55% 64% / 80%);
    --cl-grd-d: hsla(160deg 64% 43% / 80%);
}

/* General styles */

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: inherit;
}

html {
    font-size: 62.5%;
}

body {
    padding: 3rem;
    font-family: Lato, sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: hsl(0deg 0% 47%);
}

img {
    max-inline-size: 100%;
    block-size: auto;
}

/* headings */
.heading-primary {
    color: var(--cl-white);
    text-transform: uppercase;
    backface-visibility: hidden;
}
