/*
COLORS:

Light green: hsl(111deg 55% 64%)
Medium green: hsl(140deg 49% 55%)
Dark green: hsl(160deg 64% 43%)

*/

:root {
    /* color | defaults */
    --cl-white: hsl(0deg 0% 100%);

    /* color | primary */
    --cl-green-l: hsl(111deg 55% 64%);
    --cl-green-m: hsl(140deg 49% 55%);
    --cl-green-d: hsl(160deg 64% 43%);

    /* color | text */
    --cl-text: hsl(0deg 0% 47%);

    /* color | gradient */
    --cl-grd-l: hsla(111deg 55% 64% / 80%);
    --cl-grd-d: hsla(160deg 64% 43% / 80%);

    /* shadows */
    --sh-btn-hover: 0 1rem 2rem hsla(0deg 0% 0% / 20%);
    --sh-btn-active: 0 0.5rem 1rem hsla(0deg 0% 0% / 20%);
}

/* General styles */

*,
*::after,
*::before {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    font-family: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    padding: 3rem;
    font-family: Lato, sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: hsl(0deg 0% 47%);
}

img {
    max-inline-size: 100%;
    block-size: auto;
}

/* headings */
.heading-primary {
    margin-block-end: 6rem;
    color: var(--cl-white);
    text-transform: uppercase;
    backface-visibility: hidden;
}

/* buttons */
.btn:link,
.btn:visited {
    position: relative;
    display: inline-block;
    padding-block: 1.5rem;
    padding-inline: 4rem;
    font-size: 1.6rem;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 100px;
    transition: all 0.2s;
}

.btn:hover {
    box-shadow: var(--sh-btn-hover);
    transform: translateY(-3px);
}

.btn::after {
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    z-index: -1;
    display: inline-block;
    inline-size: 100%;
    block-size: 100%;
    content: "";
    border-radius: 100px;
    transition: all 0.4s;
}

.btn:hover::after {
    opacity: 0;
    transform: scaleX(1.4) scaleY(1.6);
}

.btn:active {
    box-shadow: var(--sh-btn-active);
    transform: translateY(-1px);
}

.btn--white:link,
.btn--white:visited {
    color: var(--cl-text);
    background-color: var(--cl-white);
}

.btn--white::after {
    background-color: var(--cl-white);
}

.btn--animated {
    animation: moveInBottom 0.5s ease-out 0.75s;

    /* apply to the element styles, from 0% */
    animation-fill-mode: backwards;
}
