/* header */
.header {
    position: relative;
    block-size: 95vh;

    /* property creates a clipping region */
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    background-image: linear-gradient(
            to right bottom,
            var(--cl-grd-l),
            var(--cl-grd-d)
        ),
        image-set(
            url("../../img/hero/hero.avif") type("image/avif") 2x,
            url("../../img/hero/hero-small.avif") type("image/avif") 1x,
            url("../../img/hero/hero.webp") type("image/webp") 2x,
            url("../../img/hero/hero-small.webp") type("image/webp") 1x,
            url("../../img/hero/hero.jpeg") 2x,
            url("../../img/hero/hero-small.jpeg") 1x
        );
    background-position: top;
    background-size: cover;
}

.logo-box {
    position: absolute;
    inset-block-start: 4rem;
    inset-inline-start: 4rem;
}

.logo {
    block-size: 3.5rem;
}

.text-box {
    position: absolute;
    inset-block-start: 40%;
    inset-inline-start: 50%;
    transform: translate(-50%, -50%);
}

.heading-primary-main,
.heading-primary-sub {
    display: block;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    /*
    animation-delay: 3s;
    animation-iteration-count: 3;
     */
}

.heading-primary-main {
    display: flex;
    gap: 3.5rem;
    justify-content: space-evenly;
    font-size: 6rem;
    font-weight: 400;

    /* animation: moveInLeft 1s ease-out */
    animation-name: moveInLeft;
}

.heading-primary-sub {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    font-weight: 700;

    /* animation: moveInRight 1s ease-out */
    animation-name: moveInRight;
}

.heading-primary-sub div {
    display: flex;
    gap: 1.72rem;
}
