:root {
    // colors
    --cl-white: hsl(0deg 0% 100%);
    --cl-primary: hsl(33deg 46% 58%);
    --cl-primary-dark: hsl(32deg 39% 51%);
    --cl-secondary: hsl(212deg 47% 12%);
    --cl-grey-light-1: hsl(20deg 20% 97%);
    --cl-grey-light-2: hsl(0deg 0% 67%);
    --cl-grey-dark-1: hsl(32deg 18% 28%);
    --cl-grey-dark-2: hsl(32deg 18% 36%);

    // gradients
    --gr-primary-50: hsla(33deg 46% 58% / 50%);
    --gr-secondary-93: hsla(212deg 47% 12% / 93%);

    // backgrounds
    --bcg-light: hsla(0deg 0% 100% / 5%);

    // font
    --font-primary: 'Nunito', sans-serif;
    --font-display: 'Josefin Sans', sans-serif;

    // shadow
    --sh-photo-light: 0 2rem 5rem hsla(0deg 0% 0% / 10%);
    --sh-photo-dark: 0 2rem 5rem hsla(0deg 0% 0% / 20%);
}

*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: var(--font-primary);
    font-weight: 300;
    line-height: 1.6;
    color: var(--cl-grey-dark-2);
}

picture {
    max-inline-size: 100%;
    block-size: auto;
}

.container {
    display: grid;
    grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
    grid-template-columns:
        [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr)
        [center-start] repeat(
            8,
            [col-start] minmax(min-content, 14rem) [col-end]
        )
        [center-end] minmax(6rem, 1fr) [full-end];
}
