.section-features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-column: center-start / center-end;
    gap: 6rem;
    align-items: start;
    margin-block: 15rem;
}

.feature {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 1.5rem 2.5rem;

    &__icon {
        grid-row: 1 / 3;
        inline-size: 4.5rem;
        block-size: 4.5rem;
        fill: var(--cl-primary);
        transform: translateY(-1rem);
    }

    &__text {
        font-size: 1.7rem;
    }
}
