.header {
    display: grid;
    grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
    grid-template-columns: minmax(min-content, max-content);
    grid-column: full-start / col-end 6;
    row-gap: 1.5rem;
    justify-content: center;
    padding: 8rem;
    padding-block-start: 4rem;
    background-color: var(--cl-grey-dark-1);
    background-image: linear-gradient(
            var(--gr-secondary-93),
            var(--gr-secondary-93)
        ),
        image-set(
            url('../../img/hero/hero.avif') type('image/avif'),
            url('../../img/hero/hero.webp') type('image/webp'),
            url('../../img/hero/hero.jpeg')
        );
    background-position: center;
    background-size: cover;

    @media only screen and (max-width: $bp-medium) {
        grid-column: full-start / full-end;
    }

    @media only screen and (max-width: $bp-small) {
        padding: 5rem;
    }

    &__logo-box {
        text-align: center;
    }

    &__logo {
        inline-size: auto;
        block-size: 3rem;
    }

    &__btn {
        place-self: start start;
    }

    &__seenon-text {
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        gap: 1.5rem;
        align-items: center;
        font-size: 1.6rem;
        color: var(--cl-grey-light-2);

        &::after,
        &::before {
            display: block;
            block-size: 1px;
            content: '';
            background-color: currentcolor;
        }
    }

    &__seenon-logos {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 3rem;
        place-items: center center;

        img {
            max-inline-size: 100%;
            max-block-size: 2.5rem;
            filter: brightness(70%);
        }
    }
}
